* # Ignore everything 

# Except

!/
/*
!/.gitignore

!.config
.config/*

!.config/alacritty
!.config/alacritty/*

!.config/sway
!.config/sway/*

!.config/waybar
!.config/waybar/*

!.config/fish
!.config/fish/*

!.config/nvim
!.config/nvim/*

!.config/gtk-3.0
!.config/gtk-3.0/*

!.config/mako
!.config/mako/*

!.config/wofi
!.config/wofi/*

!.config/neofetch
!.config/neofetch/*

!.config/nvim
!.config/nvim/*
.config/nvim/plugin
